
/*flexbox*/
.container {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: rgb(0, 4, 255);
    margin: 10px auto;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #000;
}

.box h2 {
    margin-top: 10px;
}

.box img {
    width: 150px;
}