
/*flexbox*/
.container {
    background-color: rgb(255, 244, 230);
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: rgb(255, 211, 155);
    margin: 10px auto;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ffdb775e;
}

.box h2 {
    margin-top: 10px;
}

.box img {
    width: 150px;
}
/*Container*/
#container2{
    background-color: hsla(36, 100%, 80%, 0.637);
}