
/*flexbox*/
.container {
    background-color: rgb(255, 244, 230);
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: rgb(255, 211, 155);
    margin: 10px auto;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ffdb775e;
}

.box h2 {
    margin-top: 15px;
}

.box img {
    width: 150px;
}
/*Container*/

#container1{
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(255, 211, 155);
    text-align: center;
}

#container2{
    margin: 10px 0;
    background-color: rgb(255, 211, 155);
    text-align: center;
}

#container3{
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(255, 211, 155);
    text-align: center;
}