*{
    padding: 0%;
    margin:0%
}
/*header*/
h1{
    font-size: 50px;
}

/*button*/
@media screen and (min-width: 800px) {
    .navbtn {
        box-shadow: 6px 6px 5px #000000a6;
        border: 2px solid rgb(65, 60, 44);
        border-radius: 20px;
        background-color: rgba(255, 237, 187, 0.651);
        font-size: 20px;
        height: 40px;
        width: 100px;
        color: hsl(0, 0%, 0%);
        cursor: pointer;
        margin: 30px 10px;
    }
}
.navbtn:active {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.700);
}

nav {
    height: 100px;
    position: sticky;
    top: 0;
    background-color: hsla(36, 100%, 80%, 0.637);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

/*icon*/
.Homesvg{
    width: 90px;
}

.copyright{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

 body{
    background-color: rgb(255, 244, 230);
  }